<div class="container my-5 fullHeight">
    <h1 class="text-center">Your Profile</h1>
    <br><br>
    <div class="profile-details">
        <p><strong>Name:</strong> {{user.firstName}} {{user.lastName}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Date of Birth:</strong> {{formatDate user.dateOfBirth}}</p>
        <p><strong>Member Since:</strong> {{formatDate user.createdAt}}</p>
    </div>

    <br>
    <hr>
    <br>
    <div class="profile-actions">
        <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</a>
        <a href="#" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#changePasswordModal"> Change Password</a>
        <a href="#" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</a>
    </div>

</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <img class="text-center" src="../../assets/Logo/Logo-red.png">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProfileForm" method="POST" class="needs-validation" data-user-id="{{user._id}}" novalidate>
                    <header class="text-center">
                        <h1 class="modal-title fs-5" id="editProfileModalLabel">Edit Your Profile</h1>
                    </header>
                    <br>
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="editFirstName" name="editFirstName" value="{{user.firstName}}" required>
                        <div class="invalid-feedback">Please enter your first name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" name="editLastName" value="{{user.lastName}}" required>
                        <div class="invalid-feedback">Please enter your last name.</div>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="editEmail" name="editEmail" value="{{user.email}}" required>
                        <div class="invalid-feedback">Please enter a valid email address.</div>
                    </div>
                    <div class="mb-3">
                        <label for="editDateOfBirth" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="editDateOfBirth" name="editDateOfBirth" value="{{user.dateOfBirth}}" required>
                        <div class="invalid-feedback">Please enter your date of birth.</div>
                    </div>
                    <button type="submit" class="btn btn-danger float-end">Save Changes</button>
                </form>

                <div><p id="editError" class="error-message text-danger mt-2"></p></div>
            </div>
        </div>
    </div>
</div>


<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <img class="text-center" src="../../assets/Logo/Logo-red.png">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" method="POST" class="needs-validation" data-user-id="{{user._id}}" novalidate>
                    <header class="text-center">
                        <h1 class="modal-title fs-5" id="changePasswordModalLabel">Change Your Password</h1>
                    </header>
                    <br>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                        <div class="invalid-feedback">Please enter your current password.</div>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$" required>
                        <div class="invalid-feedback">Passwords must follow requirments.</div>
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).+$"  required>
                        <div class="invalid-feedback">Please confirm your new password.</div>
                    </div>
                    <div>
                        <p class="form-text">Password Requirement</p>
                        <ul class="form-text">
                            <li>At least 8 characters</li>
                            <li>A lowercase letter</li>
                            <li>An uppercase letter</li>
                            <li>A number</li>
                            <li>A symbol</li>
                            <li>No parts of your username</li>
                            <li>Does not include your first name</li>
                            <li>Does not include your last name</li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-danger float-end">Change Password</button>
                </form>

                <div><p id="passwordError" class="error-message text-danger mt-2"></p></div>
            </div>
        </div>
    </div>
</div>


<!-- Delete Account Modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <header class="text-center">
                    <h1 class="modal-title fs-5" id="deleteAccountModalLabel">Delete Your Account</h1>
                </header>
                <br>
                <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                <form id="deleteAccountForm" data-user-id="{{user._id}}" method="POST">
                    <div class="mb-3 gap-3"></div>
                        <button type="submit" class="btn btn-danger">Yes, Delete My Account</button>
                        <button type="button" class="btn btn-secondary float-end" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>